@charset "UTF-8";
/* MAQUETTE | LEGEND_COLOR ######################################################################################################################################### */
/* You have to uncomment this section (line 15 to 29), to see all the different colour borders on the HTML page.
The coloured borders represent all the blocks drawn on the model.
One colour = one specific layer/depth level & one specific indentation level.
The result must be identical.

.bd_black  = Layer_1 (L1/indentation n°0) + Layer_6 (L6/indentation n°5) + Layer_11 (L11/indentation n°10)
.bd_blue   = Layer_2 (L2/indentation n°1) + Layer_7 (L7/indentation n°6)
.bd_yellow = Layer_3 (L3/indentation n°2) + Layer_8 (L8/indentation n°7)
.bd_red    = Layer_4 (L4/indentation n°3) + Layer_9 (L9/indentation n°8)
.bd_green  = Layer_5 (L5/indentation n°4) + Layer_10 (L10/indentation n°9) de*/
/* GENERAL ######################################################################################################################################################### */
/* MIXINS ###################################################################### */
/* EXTENDS ##################################################################### */
.intro__section-title, .section-title {
  font-size: 24px;
  font-weight: 700;
}

.function__stickers-unit-font01, .font-01 {
  font-size: 16px;
  font-weight: 500;
}

.menu__btn, .intro__btn {
  height: 50px;
  color: white;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.menu__div .heart__after, .menu__div .heart__before, .restaur__cards-grp-unit-content .heart__after, .restaur__cards-grp-unit-content .heart__before {
  position: absolute;
  width: 22px;
  height: 21px;
}

/* ANIMATIONS ################################################################## */
@keyframes loader {
  0% {
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes loader__ring {
  0%, 10% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader__txt {
  0% {
    transform: translateX(-2000px);
  }
  10% {
    transform: translateX(-30px);
  }
  90% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(2000px);
  }
}
@keyframes loader__line {
  0% {
    transform: translateX(2000px);
  }
  10% {
    transform: translateX(30px);
  }
  90% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@keyframes anim_stickers {
  0% {
    transform: perspective(500px) rotateX(80deg);
  }
  100% {
    transform: perspective(500px) rotateX(0deg);
  }
}
@keyframes anim_stickers_unit {
  0% {
    transform: perspective(500px) rotateX(160deg);
  }
  100% {
    transform: perspective(500px) rotateX(0deg);
  }
}
/* COLORS ###################################################################### */
/* FONTS ####################################################################### */
.card-title {
  font-size: 18px;
  font-weight: 700;
}

.plate-title {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-subtitle {
  font-size: 17px;
  font-weight: 300;
}

.plate-price {
  font-size: 15.04px;
  font-weight: 700;
  position: absolute;
  right: 15px;
  background: white;
}

.plate-subtitle {
  font-size: 15.04px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt-num {
  font-size: 14.18px;
  font-weight: 500;
}

.txt-new {
  font-size: 14px;
  font-weight: 500;
}

/* COMMON ###################################################################### */
* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1440px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a:-moz-any-link {
  display: contents;
  text-decoration: none;
  color: black;
}

a:any-link {
  display: contents;
  text-decoration: none;
  color: black;
}

/* LOADER ########################################################################################################################################################## */
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  animation-name: loader;
  animation-duration: 3000ms;
  animation-fill-mode: both;
  top: 0px;
  z-index: 1;
  background: white;
}
.loader__ring {
  width: 150px;
  height: 150px;
  animation-name: loader__ring;
  animation-duration: 3000ms;
  animation-fill-mode: both;
  border: 3.75px solid #610698;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px black;
  background: #F7F7F7;
  z-index: 0;
}
@media (min-width: 767.99px) {
  .loader__ring {
    width: 200px;
    height: 200px;
    border: 5px solid #610698;
  }
}
.loader__txt {
  position: relative;
  top: -120px;
  height: 45px;
  font-size: 45px;
  animation-name: loader__txt;
  animation-duration: 3000ms;
  animation-timing-function: ease-in;
  animation-delay: 100ms;
  animation-fill-mode: both;
  font-family: "Shrikhand", cursive;
  z-index: 2;
}
@media (min-width: 767.99px) {
  .loader__txt {
    position: relative;
    top: -164px;
    height: 60px;
    font-size: 4em;
  }
}
.loader__line {
  position: relative;
  top: -120px;
  width: 375px;
  height: 7.5px;
  animation-name: loader__line;
  animation-duration: 3000ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  background: linear-gradient(to right, white 0%, #d95dca 10%, white 50%, #610698 90%, white 100%);
  z-index: 1;
}
@media (min-width: 767.99px) {
  .loader__line {
    position: relative;
    top: -160px;
    width: 500px;
    height: 10px;
  }
}

/* HEADER ########################################################################################################################################################## */
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1440px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.main-header__div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 17px;
  width: 30px;
  height: 30px;
  background: white;
}
.main-header__div-arrow {
  font-size: 19.5px;
}
.main-header__title {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
  margin: 14px 0px 5px 0px;
}
@media (min-width: 767.99px) {
  .main-header__title {
    display: none;
    margin: 0px;
  }
}
.main-header__img {
  display: none;
}
@media (min-width: 767.99px) {
  .main-header__img {
    display: block;
    width: 200px;
    height: 34.2px;
    margin: 30px 0px 31.8px 0px;
  }
}

/* MAIN ############################################################################################################################################################ */
/* LOCATION #################################################################### */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  color: #353535;
  background: #EAEAEA;
}

/* INTRO ####################################################################### */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #F7F7F7;
}
@media (min-width: 767.99px) {
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
}
.intro__section-title {
  height: 68px;
  margin: 39.5px 58px 0px 42px;
}
@media (min-width: 767.99px) {
  .intro__section-title {
    height: 47px;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0px 0px 0px;
  }
}
.intro__txt-intro {
  font-size: 18px;
  font-weight: 300;
  margin: 0px 26px 27px 34px;
}
@media (min-width: 767.99px) {
  .intro__txt-intro {
    margin: 0px 455.5px 0px 453.5px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 531px;
  }
}
.intro__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  margin: 0px 75px 57px 82px;
  transition: opacity 500ms;
}
@media (min-width: 767.99px) {
  .intro__btn {
    margin: 0px 624.5px 30px 597.5px;
  }
}
.intro__btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.intro__btn:hover .intro__btn-txt {
  display: inline-block;
  transform: translateY(-1px);
}

/* FUNCTION #################################################################### */
.function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 26px;
  padding: 48px 20px 68px 20px;
}
@media (min-width: 767.99px) {
  .function {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    padding: 50px 180px;
  }
}
.function__stickers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 100%;
}
@media (min-width: 767.99px) {
  .function__stickers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.function__stickers-unit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 72.38px;
  background: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-left: 12.51px;
}
@media (min-width: 767.99px) {
  .function__stickers-unit {
    width: 100%;
    min-width: 200px;
  }
}
.function__stickers-unit-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12.51px;
  width: 24px;
  height: 24px;
  color: white;
  background: #9356DC;
  border-radius: 14px;
}
.function__stickers-unit-icon {
  position: absolute;
  left: 34.5px;
  color: #7E7E7E;
}
.function__stickers-unit-font01 {
  position: absolute;
  left: 73.49px;
}
.function__stickers-unit:hover .function__stickers-unit-icon {
  color: #9356DC;
}

/* RESTAURANTS ################################################################# */
.restaur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding: 54px 18px 66px 17px;
  background: #F7F7F7;
}
@media (min-width: 767.99px) {
  .restaur {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    padding: 30px 180px;
  }
}
.restaur__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
}
@media (min-width: 767.99px) {
  .restaur__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
.restaur__cards-grp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
}
@media (min-width: 767.99px) {
  .restaur__cards-grp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
}
.restaur__cards-grp-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 15px 15px;
}
@media (min-width: 767.99px) {
  .restaur__cards-grp-unit {
    min-width: 250px;
  }
}
.restaur__cards-grp-unit-img {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0px 0px;
}
.restaur__cards-grp-unit-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 12px;
  width: 80px;
  height: 29px;
  color: #008766;
  background: #99E2D0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
@media (min-width: 767.99px) {
  .restaur__cards-grp-unit-new {
    position: absolute;
    top: 13px;
    right: 17.59px;
  }
}
.restaur__cards-grp-unit-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  height: 77px;
  padding-left: 13px;
}
@media (min-width: 767.99px) {
  .restaur__cards-grp-unit-content {
    padding-left: 18.74px;
  }
}
.restaur__cards-grp-unit-content .heart {
  position: absolute;
  top: 23px;
  right: 25px;
  width: 22px;
  height: 21px;
}
.restaur__cards-grp-unit-content .heart__after {
  opacity: 0;
  transition: opacity 1s, transform 1s 0.1s;
}
.restaur__cards-grp-unit-content .heart__after:hover {
  opacity: 1;
  transform: scale(1.2);
}

/* MENU-IMG #################################################################### */
.menu-img {
  height: 275px;
}
@media (min-width: 767.99px) {
  .menu-img {
    height: 383px;
  }
}
.menu-img__img {
  width: 100%;
  height: 275px;
  z-index: 1;
}
@media (min-width: 767.99px) {
  .menu-img__img {
    height: 383px;
  }
}

/* MENU ######################################################################## */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
  padding: 32px 13px 40px 13px;
  margin-top: -55px;
  background: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
  z-index: 2;
}
@media (min-width: 767.99px) {
  .menu {
    padding: 51px 211px 40px 210px;
    margin: -55px 192px 0px 193px;
  }
}
.menu__div {
  position: relative;
  width: 100%;
}
@media (min-width: 767.99px) {
  .menu__div {
    width: 307px;
  }
}
.menu__div-title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  height: 35px;
  margin: 0px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 767.99px) {
  .menu__div-title {
    height: 41px;
    margin: 0px;
  }
}
.menu__div .heart {
  position: absolute;
  top: 8px;
  right: 24px;
  width: 22px;
  height: 21px;
}
@media (min-width: 767.99px) {
  .menu__div .heart {
    position: absolute;
    top: 10px;
    right: 0px;
  }
}
.menu__div .heart__after {
  opacity: 0;
  transition: opacity 1s, transform 1s 0.1s;
}
.menu__div .heart__after:hover {
  opacity: 1;
  transform: scale(1.2);
}
.menu__stickers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  animation: anim_stickers 1000ms ease-out;
}
@media (min-width: 767.99px) {
  .menu__stickers {
    min-width: 200px;
  }
}
.menu__stickers-title {
  width: 40px;
  height: 27px;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  box-sizing: border-box;
}
.menu__stickers-unit {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
  width: 100%;
  height: 69px;
  padding: 12px 15px;
  box-sizing: border-box;
  border-radius: 15.0431px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  background: white;
  overflow: hidden;
  animation: anim_stickers_unit 2000ms ease-out;
}
.menu__stickers-unit-plate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
}
.menu__stickers-unit-plate * {
  width: 100%;
}
.menu__stickers-unit-check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 74px;
  width: 59px;
  height: 69px;
  margin: -12px 0px;
  font-size: 20px;
  color: white;
  background: #99E2D0;
}
.menu__stickers-unit > .menu__stickers-unit-check, .menu__stickers-unit .plate-price {
  transition: all 250ms linear;
}
.menu__stickers-unit:hover .menu__stickers-unit-check {
  transform: translateX(-59px);
}
.menu__stickers-unit:hover .plate-price {
  transform: translateX(-59px);
}
.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  transition: opacity 500ms;
}
.menu__btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.menu__btn:hover .menu__btn-txt {
  display: inline-block;
  transform: translateY(-1px);
  color: white;
}

/* FOOTER ########################################################################################################################################################## */
.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 1440px;
  padding: 22px 25px;
  box-sizing: border-box;
  color: white;
  background: #353535;
}
@media (min-width: 767.99px) {
  .main-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    width: 100%;
    max-width: 1440px;
    height: 114px;
    padding: 30px 25px;
  }
}
.main-footer__title {
  font-family: "Shrikhand", cursive;
  width: 137.58px;
  font-size: 18px;
  font-weight: 400;
}
.main-footer__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  padding-left: 0px;
  list-style-type: none;
}
@media (min-width: 767.99px) {
  .main-footer__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.main-footer__ulicon {
  position: relative;
}
.main-footer__ulicon-cutlery {
  font-size: 13px;
  vertical-align: middle;
}
.main-footer__ulicon-hand {
  width: 11.92px;
  height: 13px;
  vertical-align: middle;
}
.main-footer__ulicon-span {
  white-space: nowrap;
}
@media (min-width: 767.99px) {
  .main-footer__ulicon-span {
    display: inline-block;
    width: 168px;
  }
}
@media (min-width: 767.99px) {
  .main-footer__uli {
    width: 130px;
  }
}
.main-footer__ul-mail:-moz-any-link {
  display: block;
  text-decoration: none;
  color: white;
}
.main-footer__ul-mail:any-link {
  display: block;
  text-decoration: none;
  color: white;
}

/* NOTES ########################################################################################################################################################### */
/* FONTS ####################################################################### */
/* "Shrikhand" font :
- font-size: 40px + font-weight: 700;
    > X? elements style | Existing class NO_to be create = %section-title
- font-size: 30px + font-weight: 400;
    > X1 element style | Existing class NO_to be create = main-header__title
- font-size: 28px + font-weight: 400;
    > X1 element style | Existing class NO_to be create = menu__restaur-title
- font-size: 18px + font-weight: 400;
    > X1 element style | Existing class NO_to be create = main-footer__title

"Roboto" font :
- font-size: 24px + font-weight: 700;
    > X2 elements style | Existing class NO_to be create = %section-title
- font-size: 18px + font-weight: 700;
    > X1 element style | Existing class NO_to be create = card-title
- font-size: 18px + font-weight: 500;
    > X1 element style | Existing class NO_to be create = plate-title
- font-size: 18px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = intro__txt-intro
- font-size: 17px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = card-subtitle
- font-size: 16px + font-weight: 500;
    > X4 elements style | Existing class NO_to be create = %font-01
    > (h2 default is 24px + font-weight: 700)
- font-size: 16px + font-weight: 400;
    > X? elements style | Existing class NO, no need, because this is the default configuration of the browser.
- font-size: 16px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = menu__stickers-title
- font-size: 15.04px + font-weight: 700;
    > X1 element style | Existing class NO_to be create = plate-price
- font-size: 15.04px + font-weight: 300;
    > X1 element style | Existing class NO_to be create = plate-subtitle
- font-size: 14.18px + font-weight: 500;
    > X1 element style | Existing class NO_to be create = txt-num
- font-size: 14px + font-weight: 500;
    > X1 element style | Existing class NO_to be create = txt-new

On an imported font, to be able to apply a {font-weight: 700} for example and have it work,
you must also import the font style corresponding to the font-weight at 700, otherwise it will not work and no difference will be visible.
-----------------------------------------------------------
Generally, the default browser font size is 16px, with a font-weight of 400.
-----------------------------------------------------------
By default, an h* title is automatically assigned a size in pixels, depending on its title level (h1,h2,h3 etc) and
an automatic font-weight of 700 (Bold), whatever its title level. *//*# sourceMappingURL=style_v5.css.map */